<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock title %}
{% block base_head %}

<link rel="stylesheet" href="{% static 'css/reg.css' %}">
{% endblock %}


{% block content %}
<div class="container mt-5">
<h2 class="text-center">Sign Up</h2>

<div class="form " style="padding:20">
                

                <div class="form-content">
                    <div class="row">
                        <div class="col-md-12">


                            <form method='post'>
                              {% csrf_token %}
                              {{ form.as_p }}


                              <button type="submit" class="btn btn-secondary">Sign up</button>
                            </form>
                          </div>
                    </div>
                </div>
</div>
{% endblock content %}
